@model CodeExam.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Register";
}
<div class="limiter" style="background-image: url('../../Content/images/bg-01.jpg');">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-30 p-b-30" style="width: 600px">
            @using (Html.BeginForm("Register", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        Codewar
                    </span>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        @Html.TextBoxFor(u => u.UserName, "", new { @placeholder = "Type your username", @class = "input100", @value = "" })
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                                <span class="label-input100">Password</span>
                                @Html.PasswordFor(u => u.Password, new { @placeholder = "Type your password", @class = "input100", @value = "" })
                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                                <span class="label-input100">Confirm Password</span>
                                @Html.PasswordFor(u => u.RePassword, new { @placeholder = "Type your password", @class = "input100", @value = "" })
                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Fullname</span>
                        @Html.TextBoxFor(u => u.DisplayName, "", new { @placeholder = "Type your fullname", @class = "input100", @value = "" })
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Email is required">
                        <span class="label-input100">Email</span>
                        @Html.TextBoxFor(u => u.Email, "", new { @type = "email", @placeholder = "Type your emai", @class = "input100", @value = "" })
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="pull-right" style="color: red;">@ViewBag.Message</div>
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

