@model CodeExam.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Reset Password";
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../Content/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <h3>Code War</h3>
                        <p style="color: ivory">Reset pasword</p>
                    </div>
                    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.Label("DisplayName")
                            @Html.TextBoxFor(u => u.DisplayName, new { disable = "disable" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Password")
                            @Html.PasswordFor(u => u.Password, new { @placeholder = "Password", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("ConfirmPassword")
                            @Html.PasswordFor(u => u.RePassword, new { @placeholder = "Confirm Passwrod", @class = "form-control" })
                        </div>
                        @Html.HiddenFor(u => u.ID)
                        <div style="color: ivory">
                            <p>@ViewBag.Message</p>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Finish</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>